html {
  background-color: #f7f7f7;
}

body {
  background-color: antiquewhite;
  border: 1px solid rgb(15, 157, 138);
  margin: 1% 35%;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid rgb(15, 158, 238);
}

a {
  color: #2844FA;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#start-recording {
  border: 0;
  margin: 20px 20px 0;
  display: flex;
  border: 3px inset steelblue;
  background: lightsteelblue;
  align-items: center;
  justify-content: center;
}

#start-recording:hover {
  background:#B0D4DE;
}

#start-recording:active {
  background-color: orangered;
}